/************ Generall ************/
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    accent-color: var(--color-accent) !important;
    outline-color: var(--color-accent);
}

*::selection {
    color: rgb(75, 73, 68) !important;
}

input[type=text]:focus {
    outline: 2px solid var(--color-accent);
}

option:hover {
    background-color: var(--color-accent);
}

img {
    width: 100%
}

/************ Main Style ************/

/* #region */

body {
    background-color: #8d785f;
    overflow-x: hidden;
}

#global-cursor {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
}

.viewing .lock-on-view{
    cursor:not-allowed !important;
    opacity: .8 !important;
}
/* #endregion */

/*---------- popup ----------*/

/* #region */

#popup {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
    width: 100vw;
    z-index: 800;
    top: 0;
}

#popup .content {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-color: var(--nav-background);
    padding: 1.5rem;
    border-radius: .5rem;
    box-shadow: var(--shadow-1);
}

#popup .buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: .5rem;
}

#popup .buttons p {
    padding: .3rem .6rem;
    border-radius: .3rem;
    background-color: rgb(116, 99, 80);
    box-shadow: var(--shadow-0);
    color: var(--text-accent);
    cursor: pointer;
    transition: all .2s;
}

#popup .buttons p:hover{
    background-color: rgb(110, 92, 77);
}

#popup input {
    padding: .3rem;
    background-color: rgb(116, 99, 80);
    border: none;
    color: var(--text-background);
    border-radius: .3rem;
}

#popup input::placeholder {
    color: rgb(161, 153, 125);
}

#popup .text{
    color: var(--text-background);
    margin-bottom: 1rem;
}

/* #endregion */

/*---------- homescreen ----------*/

/* #region */

#home {
    position: absolute;
    /* left: 50%;
    transform: translateX(-50%); */
    width: 100vw;
    height: 100vh;
    background-color: rgb(141, 120, 95);
    display: grid;
    place-content: center;
    z-index: 500;
}

#home h1 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    text-shadow: .2rem .2rem .2rem rgba(0, 0, 0, 0.13);
    color: var(--text-accent);
}

#world-list {
    background-color: var(--nav-background);
    border-radius: .5rem;
    width: 30vw;
    padding: .3rem;
    padding-bottom: 0;
    margin-inline: auto;
    /* box-shadow: var(--shadow-0); */
}

#world-list .text {
    text-align: center;
    color: rgb(211, 197, 167);
    /* background-color: rgb(130, 112, 91); */
}

#world-list .empty {
    color: rgb(185, 173, 145);
    padding: .5rem;
    text-align: center;
}

#world-list div {
    padding: .1rem;
    margin-bottom: .3rem;
    transition: all .2s;
    border-radius: .5rem;
    position: relative;
    cursor: pointer;
}

#world-list div:hover {
    background-color: rgb(130, 112, 91);
}

/* 
#world-list div:hover .delete{
    display: block;
} */

#world-list .delete {
    position: absolute;
    right: .5rem;
    top: 40%;
    transform: translateY(-50%);
    z-index: 600;
    display: none;
    color: var(--text-accent);
}

#world-list .delete:hover {
    color: var(--color-alert);
}

#new-world {
    margin-top: 10vh;
    position: relative;
    height: 10vh;
    width: 40vw;
}

#new-world .button {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-accent);
    padding: .5rem 2.5rem;
    width: fit-content;
    border-radius: .4rem;
    text-align: center;
    margin-inline: auto;
    box-shadow: var(--shadow-1);
    color: #0c2d41;
    cursor: pointer;
    transition: all .15s;
    z-index: 520;
}

#new-world .button:hover {
    padding: .55rem 2.7rem;
}

#new-world .error {
    color: var(--color-alert);
    position: absolute;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: none;
    width: max-content;
    font-weight: bold;
}

#new-world .name {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    align-items: center;
    /* height: 3rem; */
    z-index: 510;
}

#new-world .name input {
    padding: .55rem 2.7rem;
    background-color: var(--nav-background);
    color: var(--text-background);
    transition: opacity .5s;
    text-align: center;
    border: none;
    height: fit-content;
    border-radius: .5rem;
}

#new-world .name input::placeholder {
    color: var(--text-accent);
}

#new-world .name .info-icon {
    font-size: 1.4rem;
    cursor: pointer;
    position: absolute;
    left: 102%;
    color: rgb(209, 194, 167);
}

#new-world .name .info {
    position: absolute;
    left: 115%;
    background-color: rgb(209, 196, 173);
    display: none;
    width: fit-content;
    z-index: 520;
    padding: 1rem;
    line-height: 130%;
    border-radius: .5rem;
    box-shadow: var(--shadow-1);
}

#new-world .name .info-icon:hover+.info {
    display: block;
}

#new-world .close {
    position: absolute;
    top: -1rem;
    right: 0;
    cursor: pointer;
    opacity: 0;
    transition: all .3s;
    color: var(--text-accent);
    z-index: 500;
}

/* #endregion */

/*---------- map ----------*/

/* #region */

#map {
    width: 100vw;
    height: 100vh;
    transition: left .5s;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 10vh;
    box-sizing: border-box;
}

#map-controls {
    background-color: var(--text-background);
    height: 2rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-inline: auto;
    box-shadow: var(--shadow-1);
    z-index: 100;
    opacity: 0;
    /* transition: all 1s; */
    color: rgb(107, 100, 83);
}

#map-controls div {
    display: flex;
}

#map-controls>p {
    color: inherit;
    cursor: pointer;
    transition: color .3s;
    user-select: none;
}

#map-controls>p:hover {
    color: rgb(54, 49, 33);
}

#map-controls #zoom-slider {
    width: 15vw;
}

#map-image {
    width: inherit;
    display: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

#map-container {
    width: 70vw;
    height: 80vh;
    overflow: scroll;
    position: relative;
    margin-inline: auto;
}

#map-container::-webkit-scrollbar {
    display: none;
}

#map .marker {
    width: 1vw;
    height: 1vw;
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible;
    transform: translate(-50%, -100%);
    cursor: pointer;
}

#map .marker.cursor-move {
    cursor: move !important;
}

#map .marker p {
    position: absolute;
    overflow: visible;
    text-align: center;
    width: max-content;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
}

#map .marker .relative {
    position: relative;
}

#map .marker .icon {
    width: 1vw;
    height: 1vw;
    font-size: 1.1vw;
    color: rgb(85, 72, 56);
    text-shadow: var(--shadow-markers-icon);
    user-select: none;
    position: absolute;
    z-index: 20;
    background-clip: border-box;
}

#map .marker.heading p {
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    margin-bottom: -.3rem;
    text-shadow: var(--shadow-markers-text), var(--shadow-markers-text), var(--shadow-markers-text);
}

#map .marker.label p {
    font-family: 'Times New Roman', Times, serif;
    pointer-events: none;
    bottom: 100%;
    text-shadow: var(--shadow-markers-text), var(--shadow-markers-text), var(--shadow-markers-text);
}

#map .marker.pinpoint p {
    font-family: 'Times New Roman', Times, serif;
    pointer-events: none;
    opacity: 0;
    bottom: 100%;
    text-shadow: var(--shadow-markers-text), var(--shadow-markers-text), var(--shadow-markers-text);
    transition: opacity .2s;
}

#map .marker.pinpoint:hover p {
    opacity: 1;
}

#map .marker.pinpoint {
    border: .2vw solid transparent;
    border-radius: 50%
}

#map .marker.pinpoint .icon {
    font-size: .9vw;
}

#marker-edit-button {
    width: 3vw;
    height: 4vh;
    position: absolute;
    transition: opacity .15s;
    padding-right: .5vw;
    transition-delay: 1s;
    /* margin-top: -3vh; */
    margin-left: -.5vw;
    display: none;
    align-items: center;
    /* background-color: rgba(255, 0, 0, 0.336); */
    transform: translateY(-50%);
}

#marker-edit-button .editbutton {
    width: 1vw;
    right: .5vw;
    cursor: pointer;
    font-size: 1.3rem;
    position: absolute;
    z-index: 20;
    user-select: none;
    text-shadow: var(--shadow-markers-icon);
}

#map-image-input {
    display: none;
}

#map-marker-editor {
    position: absolute;
    left: -100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-left: 2rem;
    background-color: var(--edit-color);
    border-radius: 1rem;
    box-shadow: var(--shadow-1);
    transition: left .5s;
}

#map-marker-editor label {
    margin-top: 1rem;
}

#map-marker-editor input,
#map-marker-editor select {
    margin-top: 1rem;
    background-color: rgb(207, 190, 158);
    border: none;
    padding: .3rem;
    font-size: .9rem;
}

#map-marker-editor select:first-of-type option:first-of-type{
    color: rgb(78, 78, 78);
    font-style: italic;
}

#map-marker-editor select option{
    color: rgb(39, 35, 27);
}

#map-marker-editor input:focus {
    background-color: rgb(190, 174, 144);
    border: none;
    outline: none;
}

#map-marker-editor .save {
    margin-top: 1rem;
    padding: .3rem .5rem;
    background-color: rgb(207, 190, 158);
    width: fit-content;
    border-radius: .5rem;
    transition: all .5s;
    box-shadow: var(--shadow-1);
    margin-inline: auto;
    user-select: none;
    cursor: pointer;
}

#map-marker-editor .save:hover {
    background-color: rgb(190, 174, 144);
}

#map-marker-editor .close,.delete {
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: fit-content;
    height: auto;
    transition: all .3s;
}

#map-marker-editor .close{
    right: .3rem;
    top: .2rem;
}

#map-marker-editor .delete{
    right: 1.5rem;
    top: .4rem;
}

#map-marker-editor .close,.delete:hover {
    font-size: 1.05rem;
}

#no-map-image-button {
    background-color: var(--text-accent);
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.1rem;
    box-shadow: var(--shadow-1);
    transition: all .5s;
    color: var(--color-contrast);
    cursor: pointer;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
}

#no-map-image-button:hover {
    background-color: rgb(177, 165, 137);
}

/* #endregion */

/*---------- wiki ----------*/

/* #region */

#wiki {
    width: 100%;
    transition: left .5s;
    position: absolute;
    width: 100vw;
    height: auto;
    padding-top: 10vh;
    top: 0;
    left: 120%;
    padding-bottom: 10vh;
    box-sizing: border-box;
}

#delete-entry{
    position: absolute;
    right: 0;
    top: 0;
    padding: .5rem;
    transition: all .2s;
    cursor: pointer;
}

#delete-entry:hover{
    transform: scale(1.1);
}

#entry-name{
    max-width: calc(650px + 16rem);
    box-sizing: border-box;
    background-color: var(--text-background);
    margin-inline: auto;
    display: block;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: .5rem;
    display: flex;
    justify-content: center;
    position: relative;
}

#entry-name::after{
    position: absolute;
    background-color: var(--text-accent);
    height: .1rem;
    width: 90%;
    content: "";
    bottom: 0;
}

#entry-name input{
    background-color: transparent;
    border: none;
    font-size: 1.8rem;
    padding: .5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    color: var(--nav-background);
    text-align: center;
    width: 80%;
    border-radius: .5rem;
    transition: all .2s;
}

#entry-name input:focus{
    outline: none;
    background-color: rgb(219, 211, 182);
}

#editjs {
    font-family: sans-serif;
    color: var(--color-contrast);
}

#editjs .codex-editor {
    max-width: calc(650px + 16rem);
    margin-inline: auto;
    padding-block: 1rem;
    background-color: var(--text-background);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0rem .5rem .5rem 0rem rgba(0, 0, 0, 0.4);
}

#editjs .codex-editor__redactor {
    margin-right: 0 !important;
    padding-bottom: 0 !important;
}

#editjs .codex-editor__redactor .ce-block {
    padding-inline: 8rem;
}

#wiki aside {
    position: absolute;
    left: -1vw;
    background-color: var(--edit-color);
    border-radius: 1rem;
    min-width: 1rem;
    max-width: 15vw;
    min-height: .7rem;
    z-index: 100;
    box-shadow: var(--shadow-1);
    transition: all .15s;
    padding: .7rem;
    padding-left: 1.4vw;
}

#wiki aside h1 {
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(68, 62, 47);
    width: 100%;
}

#wiki aside ul li {
    margin-left: 1.5rem;
    color: rgb(57, 53, 44);
    transition: all .2s;
    margin-right: .5rem;
    cursor: pointer;
    user-select: none;
    padding-block: .3rem;
    word-wrap: break-word;
}

#wiki aside ul li::marker {
    color: rgb(124, 117, 97);
}

#wiki aside ul li:hover {
    color: rgb(105, 84, 33);
    margin-left: 1.8rem;
    margin-right: .2rem;
}

#wiki aside ul li.selected{
    text-shadow:0px 0px 1px rgb(57, 53, 44);
}

#wiki aside #add-entry {
    font-weight: bold;
    font-size: 1.3rem;
    height: 1.3rem;
    text-align: center;
    border-radius: .3rem;
    background-color: rgb(194, 179, 155);
    cursor: pointer;
    margin-top: 1rem;
    padding-bottom: .15rem;
    transition: all .2s;
    box-shadow: var(--shadow-0);
    width: 100%;
}

#wiki aside #add-entry:hover{
    background-color: rgb(180, 164, 138);
}

#wiki aside #open-close {
    position: absolute;
    right: 0;
    top: -.35rem;
    color: rgb(124, 117, 97);
    border: .5rem solid transparent;
    cursor: pointer;
    border-radius: 50%;
    border-bottom: none;
    transition: all .2s;
    font-size: 1.2rem;
    transform: scaleX(-1);
}

#wiki aside #open-close:hover {
    color: rgb(79, 75, 62);
}

#wiki aside .content{
    min-width: 6vw;
    margin-top: 1.5rem;
}

/* #endregion */

/*---------- nav ----------*/

/* #region */

nav {
    background-color: var(--nav-background);
    height: 2.5rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    margin-bottom: 2rem;
    color: var(--text-background);
    box-shadow: var(--shadow-2);
    width: 80%;
    margin-inline: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 200;
}

nav #save-info,
nav #worldname {
    margin-inline: 4rem;
    color:
        /* rgb(190, 180, 150) */
        var(--text-accent);
    font-size: 1rem;
}

#worldname {
    background-color: transparent;
    border: none;
    /* border-bottom: .1rem solid rgb(209, 198, 167); */
    padding: .2rem;
    border-radius: .2rem;
    /* margin-bottom: .5rem; */
    transition: color .2s;
}

#worldname:focus {
    outline: none;
    border-bottom: .1rem solid rgb(167, 158, 134);
    background-color: rgb(130, 112, 91);
}

#worldname:hover {
    color: var(--nav-accent);
}

#worldname::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(184, 162, 137);
    opacity: 1;
    /* Firefox */
}

/* #worldname::before{
    content: "worldname";
    position: absolute;
    font-size: .7rem;
    bottom: .2rem;
    color:var(--nav-accent);
} */

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}

nav ul li {
    padding-inline: 1rem;
    width: 50%;
    z-index: 30;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li:first-of-type p {
    margin-left: auto;
    text-align: center;
    vertical-align: middle;
    height: fit-content;
}

nav ul li:last-of-type p {
    margin-right: auto;
}

nav ul li p {
    text-shadow: 1px 1px 0 var(--nav-background), 1px -1px 0 var(--nav-background), -1px 1px 0 var(--nav-background), -1px -1px 0 var(--nav-background), 1px 0px 0 var(--nav-background), 0px 1px 0 var(--nav-background), -1px 0px 0 var(--nav-background), 0px -1px 0 var(--nav-background);
    font-size: 1.25rem;
    width: fit-content;
    transition: color .3s;
    cursor: pointer;
    user-select: none;
}

nav ul li:hover p {
    color: var(--nav-hover) !important;
}

nav ul li::marker {
    content: "";
}

#nav-marker {
    position: absolute;
    background-color: var(--nav-accent);
    width: 3rem;
    height: .2rem;
    right: 50%;
    border-radius: .2rem;
    margin-inline: .8rem;
    bottom: .5rem;
    transition: all .6s;
    transition-timing-function: ease;
    z-index: 20;
}

#toggel-editmode {
    height: 1.1rem;
    overflow: hidden;
    width: 10vw;
    margin-inline: 4rem;
    color:
        /* rgb(190, 180, 150) */
        var(--text-accent);
    position: relative;
    font-size: 1rem;
    box-sizing: border-box;
    cursor: pointer;
    transition: color .3s;
}

#toggel-editmode p {
    position: absolute;
    right: 0;
    transition: top .5s;
}

#toggel-editmode p:first-of-type {
    top: 0;
}

#toggel-editmode p:last-of-type {
    top: 100%;
}

#toggel-editmode:hover {
    color: rgb(211, 200, 169);
}

.extern-nav-button {
    position: absolute;
    top: 0;
    background-color: var(--nav-background);
    box-shadow: var(--shadow-0);
    cursor: pointer;
    z-index: 250;
    transition: all .2s;
    height: 2.3rem;
    width: 2.3rem;
    display: grid;
    place-content: center;
}

#home-button {
    border-bottom-right-radius: 1rem;
    left: 0;
}

#home-button:hover {
    transform: scale(1.05);
}

#save-button {
    border-bottom-left-radius: 1rem;
    right: 0;
}

#save-button:hover {
    transform: scale(1.05);
}

#save-button .save {
    display: none;
}

/* #endregion */

/************ EditorJs ************/

/* #region */

::selection {
    background-color: rgb(200, 200, 178);
}

.cdx-nested-list__item:first-of-type {
    margin-top: 0;
    padding-top: 1px;
}

.cdx-nested-list__item:last-of-type {
    margin-bottom: 0;
    padding-bottom: 1px;
}

/*---------- Table Fixes ----------*/


.tc-wrap {
    /* recoulors tabel */
    --color-border: rgb(183, 172, 144) !important;
}

.tc-cell:first-of-type {
    /* adds tabel at beginning */
    border-left: 1px solid var(--color-border);
}

/* removes lines at the end */
.tc-add-column {
    border: none !important;
}

.tc-row::after {
    border: none !important;
}

/* #endregion */

/************ Imports ************/

/************ Keyframes ************/

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/************ Responsive ************/
@media screen and (min-width: 800px) {

    /*pc*/
    main {}
}

@media screen and (max-width: 800px) {

    /*phone*/
    main {}
}

/************ Variables ************/
:root {
    --text-background: rgb(233, 225, 199);
    --text-accent: #beb092;
    --color-alert: rgb(177, 51, 51);

    --nav-background: rgb(122, 104, 83);
    /* --nav-accent: rgb(94, 80, 61); */
    --nav-accent: rgb(201, 192, 158);
    --nav-hover: rgb(168, 156, 133);

    --color-contrast: rgb(24, 11, 6);

    --shadow-0: 0rem .2rem .3rem 0rem rgba(0, 0, 0, 0.4);
    --shadow-1: 0rem .3rem .5rem 0rem rgba(0, 0, 0, 0.4);
    --shadow-2: 0rem .5rem .7rem 0rem rgba(0, 0, 0, 0.4);

    --shadow-markers-text: 0rem .5rem .7rem var(--marker-shadow-color), .5rem 0rem .7rem var(--marker-shadow-color), 0rem -.5rem .7rem var(--marker-shadow-color), -.5rem 0rem .7rem var(--marker-shadow-color);

    --shadow-markers-icon:
        1px 1px 1px var(--marker-shadow-color),
        1px -1px 1px var(--marker-shadow-color),
        -1px 1px 1px var(--marker-shadow-color),
        -1px -1px 1px var(--marker-shadow-color),
        1px 0px 1px var(--marker-shadow-color),
        0px 1px 1px var(--marker-shadow-color),
        -1px 0px 1px var(--marker-shadow-color),
        0px -1px 1px var(--marker-shadow-color);

    --shadow-markers-edit:
        0rem .5rem .7rem var(--marker-edit-color), .5rem 0rem .7rem var(--marker-edit-color), 0rem -.5rem .7rem var(--marker-edit-color), -.5rem 0rem .7rem var(--marker-edit-color);

    --marker-shadow-color: #e7dfc5;
    --marker-edit-color: var(--color-accent);

    --color-accent:
        /* #2baaff */
        #eb9c43;

    --edit-color: rgb(212, 205, 183);
    --popup-color-main: rgb(216, 207, 187);
    --popup-color-icon: rgb(200, 192, 171);
    --popup-color-selected: var(--popup-color-icon);

    --table-add-hover: rgb(234, 234, 210);
}